<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hewei.rusiablocks"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.hewei.rusiablocks.GameApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light" >
        <activity
            android:name="com.hewei.rusiablocks.NewGameActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
        	android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.hewei.rusiablocks.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        
        <activity
            android:name="com.hewei.rusiablocks.CompetionActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
          
        <activity
            android:name="com.hewei.rusiablocks.SettingActivity"
            android:label="@string/app_name" />
        
        <activity
            android:name="com.umeng.fb.ConversationActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.umeng.fb.ContactActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>
        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        
        <meta-data android:value="53ec9ebdfd98c5ceb600e51c" android:name="UMENG_APPKEY" />
		<meta-data android:value="xiaomi" android:name="UMENG_CHANNEL"/>
    </application>

</manifest>
